.hljs {
    background-color: initial;
}

.hljs-ln {
    width: 100%;
}

.hljs-ln-numbers {
    text-align: right;
    color: #a0a0a0;
    border-right: 1px solid #CCC;
    vertical-align: top;
    padding-right: 5px;
}

.hljs-ln-code {
    padding-left: 5px;
}

.hljs-ln tr:nth-child(odd) {
    background-color: #f0f0f0;
}

.hljs-ln tr:nth-child(even) {
    background-color: #fafafa;
}

.nohljsln {
    background-color: #f4f4f4;
}