body {
    margin: 2.5%;
    font-size: 12pt;
}

p {
    line-height: 1.8;
}

h2 {
    border-top: 1px solid #e3e3e3;
    padding-top: 1%;
}

code {
    background-color: #e6e6e6;
    padding: 1px 5px;
    border-radius: 5px;
    border-bottom: 2px solid #c7c7c7;
    white-space: nowrap;
}

img {
    height: auto;
    max-width: 100%;
}

div[class|=learncpp] {
    border-width: 3px 3px 5px 3px;
    border-style: solid;
    border-radius: 10px;
    margin: 1.5% 0%;
    padding: 0% 1.5%;
}

.learncpp-QandA {
    background-color: #dfe7ff;
    border-color: #9caad4;
}

.learncpp-rule,
.learncpp-best-practice {
    background-color: #dfffdf;
    border-color: #9cd49c;
}

.learncpp-warning {
    background-color: #ffd6d6;
    border-color: #d89696;
}

.learncpp-optional-reading {
    background-color: #f4f4f4;
    border-color: #c7c7c7;
}

.learncpp-translator-note {
    font-weight: lighter;
    font-style: oblique;
}

.learncpp-block-head-content {
    font-weight: bold;
}

.learncpp-block-title {
    font-size: x-large;
    font-weight: bold;
}