body {
    margin: 2.5%;
    font-size: 12pt;
}

p,
li,
table.content-nohead td,
table.content-withhead td {
    line-height: 1.8;
}

h2 {
    padding-top: 1.5%;
    border-top: 1px solid #e3e3e3;
}

code.inline {
    padding: 1px 5px;
    white-space: pre;
    border-bottom: 2px solid #c7c7c7;
    border-radius: 5px;
    background-color: #e6e6e6;
}

code.lighter {
    font-weight: lighter;
}

span.learncpp-language-standard {
    padding: 1px 5px;
    white-space: pre;
    border-radius: 5px;
    background-color: #6aa3e7;
    color: white;
    font-size: medium;
    font-weight: normal;
}

img {
    max-width: 100%;
    height: auto;
}

div[class^=learncpp-blocktext] {
    margin: 1.5% 0%;
    padding: 0% 14px;
    border-width: 2px 2px 5px 2px;
    border-style: solid;
    border-radius: 10px;
}

div.learncpp-blocktext-violet {
    border-color: #9caad4;
    background-color: #dfe7ff;
}

div.learncpp-blocktext-purple {
    border-color: #c1acff;
    background-color: #e7dfff;
}

div.learncpp-blocktext-green {
    border-color: #9cd49c;
    background-color: #dfffdf;
}

div.learncpp-blocktext-red {
    border-color: #d89696;
    background-color: #ffd6d6;
}

div.learncpp-blocktext-grey {
    border-color: #c7c7c7;
    background-color: #f4f4f4;
}

div.learncpp-blocktext-yellow {
    border-color: #dad591;
    background-color: #ffffdf;
}

span.learncpp-translator-note {
    font-weight: lighter;
    font-style: oblique;
}

.learncpp-block-head-content {
    font-weight: bold;
}

.learncpp-block-title {
    font-size: large;
    font-weight: bold;
}

div.table-wrapper-scroll {
    overflow: auto;
    white-space: nowrap;
}

table.content-nohead,
table.content-withhead {
    border-collapse: separate;
    border-spacing: 0;
    border-width: 2px 2px 5px 2px;
    border-style: solid;
    border-color: #64A6F5;
    border-radius: 10px;
}

table.content-nohead td,
table.content-withhead th,
table.content-withhead td {
    padding: 4px 20px 4px 8px;
    /* border-style: none; */
    /* border-color: transparent; */
    text-align: left;
}

table.content-withhead th {
    font-size: large;
    color: #ffffff;
}

table.content-nohead tr:nth-child(odd),
table.content-withhead tr:nth-child(odd) {
    background-color: #edf5ff;
}

table.content-withhead tr:first-child {
    background-color: #64A6F5;
}

table.content-nohead tr:first-child td:first-child {
    border-radius: 10px 0 0 0;
}

table.content-nohead tr:first-child td:last-child {
    border-radius: 0 10px 0 0;
}

table.content-nohead tr:last-child td:last-child,
table.content-withhead tr:last-child td:last-child {
    border-radius: 0 0 10px 0;
}

table.content-nohead tr:last-child td:first-child,
table.content-withhead tr:last-child td:first-child {
    border-radius: 0 0 0 10px;
}

table.content-withhead tr:first-child th:first-child {
    border-radius: 5px 0 0 0;
}

table.content-withhead tr:first-child th:last-child {
    border-radius: 0 5px 0 0;
}