body {
    margin: 2.5%;
    font-size: 12pt;
}

p {
    line-height: 1.8;
}

h2 {
    border-top: 1px solid #e3e3e3;
    padding-top: 1.5%;
}

code.inline {
    background-color: #e6e6e6;
    padding: 1px 5px;
    border-radius: 5px;
    border-bottom: 2px solid #c7c7c7;
    white-space: pre;
}

code.nohljsln {
    font-weight: lighter;
}

span.learncpp-language-standard {
    color: white;
    font-size: medium;
    font-weight: normal;
    background-color: #6aa3e7;
    padding: 1px 5px;
    border-radius: 5px;
    white-space: pre;
}

img {
    height: auto;
    max-width: 100%;
}

div[class^=learncpp-blocktext] {
    border-width: 2px 2px 5px 2px;
    border-style: solid;
    border-radius: 10px;
    margin: 1.5% 0%;
    padding: 0% 1.5%;
}

div.learncpp-blocktext-violet {
    background-color: #dfe7ff;
    border-color: #9caad4;
}

div.learncpp-blocktext-purple {
    background-color: #e7dfff;
    border-color: #c1acff;
}

div.learncpp-blocktext-green {
    background-color: #dfffdf;
    border-color: #9cd49c;
}

div.learncpp-blocktext-red {
    background-color: #ffd6d6;
    border-color: #d89696;
}

div.learncpp-blocktext-grey {
    background-color: #f4f4f4;
    border-color: #c7c7c7;
}

div.learncpp-blocktext-yellow {
    background-color: #ffffdf;
    border-color: #dad591;
}

span.learncpp-translator-note {
    font-weight: lighter;
    font-style: oblique;
}

.learncpp-block-head-content {
    font-weight: bold;
}

.learncpp-block-title {
    font-size: x-large;
    font-weight: bold;
}